c description: Random 3-CNF over 10 variables and 15 clauses
c generator: CNFgen (0.9.1)
c copyright: (C) 2012-2022 Massimo Lauria <massimo.lauria@uniroma1.it>
c url: https://massimolauria.net/cnfgen
c command line: cnfgen randkcnf 3 10 15
c
p cnf 10 15
-1 -2 -10 0
-1 -6 10 0
-2 -3 -4 0
4 -6 7 0
-1 -6 8 0
1 -4 5 0
-1 -2 -7 0
-3 -6 8 0
-2 -3 4 0
2 -3 10 0
-1 -7 -8 0
-2 8 10 0
-2 -4 -9 0
3 8 -10 0
1 3 -8 0
